fastapi==0.111.0
uvicorn==0.30.1
gunicorn==22.0.0

openai
python-dotenv==1.0.1
python-multipart==0.0.9
aiofiles==23.2.1
orjson==3.10.7

SQLAlchemy==2.0.32
pyodbc==5.1.0
pydantic==2.8.2

pandas==2.2.2
pyarrow==16.1.0
adlfs==2024.4.1
azure-storage-blob==12.19.0

pypdf
numpy
scikit-learn
matplotlib
seaborn